@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../";

@theme {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;

  --color-dracula-background1: #082f49;
  --color-dracula-background2: #020617;
  --color-dracula-foreground: #000000;
  --color-dracula-chips: #353a57;
  --color-dracula-cards: #353a57;
  --color-dracula-t-white: #ffffff;
  --color-dracula-white: #ffffff;
  --color-dracula-red: #ff5555;
  --color-dracula-yellow: #f1fa8c;
  --color-dracula-green: #50fa7b;
  --color-dracula-gray: #8492a6;
  --color-dracula-gray-light: #d3dce6;
  --color-dracula-pink: #ff79c6;
  --color-dracula-cyan: #8be9fd;
  --color-dracula-orange: #ffb86c;
  --color-dracula-purple: #bd93f9;
}

@utility container {
  margin-inline: auto;
}

@layer base {
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  html {
    scroll-behavior: smooth;
  }
}