@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


.blink {
  animation: blink 2s linear infinite;
}


/* blinking animation */
.del6s {
  animation: blink 2s linear infinite;
  animation-delay: 2s;
  letter-spacing: 0px;
}

.del5s {
  animation: blink 2s linear infinite;
  animation-delay: 1.6s;
  letter-spacing: 0px;
}

.del4s {
  animation: blink 2s linear infinite;
  animation-delay: 1.2s;
  letter-spacing: 0px;
}

.del3s {
  animation: blink 2s linear infinite;
  animation-delay: 0.8s;
  letter-spacing: 0px;
}

.del2s {
  animation: blink 2s linear infinite;
  animation-delay: 0.4s;
  letter-spacing: 0px;
}

.del1s {
  animation: blink 2s linear infinite;
  animation-delay: 0s;
  letter-spacing: 0px;
}

.del0s {
  animation: blink 2s ease-out infinite;
}

@keyframes blink {
  50% {
      color: black;
  }
}